{% extends 'administrator/admin_base.html' %}


{% block body %}
<div class="w3-container">
    <h2>Available Reports</h2>
<ul class="w3-ul w3-border">
    <li>
        <a href="{% url 'generate_fees_arrears_report'%}">Students With Fees Arrears</a>
    </li>
    <li>
        <a href="{% url 'generate_lunch_subscribers_report'%}">Students Taking Lunch</a>
    </li>
    <li>
        <a href="{% url 'generate_transport_subscribers_report'%}">Students Taking Transport</a>
    </li>
    
</ul>
</div>
{% endblock body %}