{% extends 'administrator/admin_base.html' %}

{% block body %}
<form action="{% url 'search_student'%}" method="post">
    {% csrf_token %}
    {{form.as_p}}
    <input type="submit" value="Search">
</form>
<br>
<hr>

{%if students%}
<ul>
    {% for student in students %}
    <li>
        <a href="{% url 'student_profile' student.user.id %}">{{student.user.first_name}} {{student.user.middle_name}} {{student.user.last_name}}</a>
    </li>
    {%empty%}
    <p>No student exists with that first name </p>
    {% endfor %}
</ul>
{%endif%}
{% endblock %}