{% extends 'administrator/admin_base.html' %}

{% block body %}
<table>
    <tr>
      
      <th>Transaction ID</th>
      <th>Transaction Type</th>
      <th>Date of Payment</th>
      <th>Amount Payed</th>
      <th>Arrears</th>
      <th>Details</th>
    </tr>
    {% for transaction in transactions %}
      <tr>
        <td> {{transaction.id}} </td>
        <td>{{transaction.transaction_type}}</td>
        <td>{{transaction.date_of_payment}}</td>
        <td>{{transaction.amount}}</td>
        <td> {{transaction.arrears}} </td>
      </tr>
    {% endfor %}
  </table>
{% endblock body %}